<div class="row bg-dark">
  <div class="col-lg">
    <p class="display-2 text-white text-center">
      Bereit zur Abholung: <span class="badge badge-success">{{mainScoreBoardNumber}}</span>
    </p>
  </div>
</div>

<div class="row bg-dark">
  <div class="col">
    <app-main-list [ordersOfOrders]="chunksOfInProgressOrders" [description]="'In Bearbeitung'"></app-main-list>
  </div>
  <div class="col">
    <app-main-list [ordersOfOrders]="chunkOfReadyOrders" [description]="'Abholbereit'"></app-main-list>
  </div>
</div>


