<div class="row bg-dark">
  <div class="col-lg">
    <p class="display-4 text-white text-center">
      Neue Bestellung aufgeben
    </p>
    <form (ngSubmit)="onSubmit()" [formGroup]="newOrderForm" class="text-white">
      <div class="form-group"
      >
        <input type="number"
               class="form-control"
               placeholder="Bestellnummer eingeben"
               formControlName="scoreboardnumber"
               [ngClass]="{
        'is-invalid': scoreboardnumber.invalid && (scoreboardnumber.dirty || scoreboardnumber.touched),
        'is-valid': scoreboardnumber.valid && (scoreboardnumber.dirty || scoreboardnumber.touched)
   }"
        >
        <div class="form-control-feedback"
             *ngIf="scoreboardnumber.errors && (scoreboardnumber.dirty || scoreboardnumber.touched)">
          <p *ngIf="scoreboardnumber.errors.required">Bestellnummer wird benötigt</p>
          <p *ngIf="scoreboardnumber.errors.scoreBoardNumberIsUsed">Bestellnummer wird bereits verwendet</p>
          <p *ngIf="scoreboardnumber.errors.min">Bestellnummer darf nicht negativ sein</p>
        </div>
      </div>

      <div class="text-center">
        <div class="btn-group btn-group-lg" role="group">
          <button type="submit" [disabled]="!newOrderForm.valid"
                  class="btn btn-primary">Erstellen
          </button>
          <button [disabled]="!scoreboardnumber.value" type="button" class="btn btn-secondary"
                  (click)="resetForm()">Abbrechen
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<hr/>
<div class="row bg-dark">
  <div class="col-lg">
    <p class="display-4 text-white text-center">
      Aktive Bestellungen
    </p>
    <div class="text-center">
      <div class="btn-group btn-group-lg" role="group">
        <button [disabled]="!selectedOrder" type="button" class="btn btn-success"
                (click)="changeStateOfSelectedOrder('READY')">Fertig gestellt
        </button>
        <button [disabled]="!selectedOrder" type="button" class="btn btn-secondary"
                (click)="changeStateOfSelectedOrder('IN_PROGRESS')">In Bearbeitung
        </button>
        <button [disabled]="!selectedOrder" type="button" class="btn btn-danger"
                (click)="deleteSelectedOrder(selectedOrder)">Abgeschlossen
        </button>
      </div>
    </div>

    <ul class=" mt-4 list-group  text-center">
      <li (click)="selectOrder(order)" [ngClass]="getClassForListItem(order)" *ngFor="let order of orders"
          class="list-group-item">
        {{order.scoreBoardNumber }}
      </li>
    </ul>
  </div>
</div>
