<div class="row bg-dark">
  <div class="col-lg">
    <p class="display-4 text-white text-center">
      Neue Bestellung aufgeben
    </p>
    <form (ngSubmit)="createNewOrder()" [formGroup]="newOrderForm" class="text-white">
      <div class="form-group"
      >
        <input type="number"
               class="form-control"
               placeholder="Bestellnummer eingeben"
               formControlName="scoreboardnumber"
               [ngClass]="{
        'is-invalid': newScoreBoardNumberForm.invalid && (newScoreBoardNumberForm.dirty || newScoreBoardNumberForm.touched),
        'is-valid': newScoreBoardNumberForm.valid && (newScoreBoardNumberForm.dirty || newScoreBoardNumberForm.touched)
   }"
        >
        <div class="form-control-feedback"
             *ngIf="newScoreBoardNumberForm.errors && (newScoreBoardNumberForm.dirty || newScoreBoardNumberForm.touched)">
          <p *ngIf="newScoreBoardNumberForm.errors.required">Bestellnummer wird benötigt</p>
          <p *ngIf="newScoreBoardNumberForm.errors.scoreBoardNumberIsUsed">Bestellnummer wird bereits verwendet</p>
          <p *ngIf="newScoreBoardNumberForm.errors.min">Bestellnummer darf nicht negativ sein</p>
        </div>
      </div>

      <div class="text-center">
        <div class="btn-group btn-group-lg" role="group">
          <button type="submit" [disabled]="!newOrderForm.valid"
                  class="btn btn-primary">Erstellen
          </button>
          <button [disabled]="!newScoreBoardNumberForm.value" type="button" class="btn btn-secondary"
                  (click)="resetForm()">Abbrechen
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<hr/>
<div class="row bg-dark">
  <div class="col-lg">
    <p class="display-4 text-white text-center">
      Aktive Bestellungen
    </p>
    <div class="text-center">
      <div class="btn-group btn-group-lg" role="group">
        <button [disabled]="!selectedOrder" type="button" class="btn btn-success"
                (click)="changeStateOfSelectedOrder('READY')">Fertig gestellt
        </button>
        <button [disabled]="!selectedOrder" type="button" class="btn btn-secondary"
                (click)="changeStateOfSelectedOrder('IN_PROGRESS')">In Bearbeitung
        </button>
        <button [disabled]="!selectedOrder" type="button" class="btn btn-danger"
                (click)="deleteSelectedOrder(selectedOrder)">Abgeschlossen
        </button>
      </div>
    </div>

    <ul class="mt-4 list-group text-center">
      <li (click)="toggleOrder(order)" [ngClass]="getClassForListItem(order)" *ngFor="let order of orders"
          class="list-group-item">
        {{order.scoreBoardNumber }}
<!--        <div class="text-right">-->
<!--          <button class="btn btn-success">EDIT</button>-->
<!--          <button class="btn btn-danger">DELETE</button>-->
<!--        </div>-->
<!--        <div class="btn-group btn-group-m float-right" role="group">-->
<!--          <button [disabled]="!selectedOrder" type="button" class="btn btn-success"-->
<!--                  (click)="changeStateOfSelectedOrder('READY')">Fertig gestellt-->
<!--          </button>-->
<!--          <button [disabled]="!selectedOrder" type="button" class="btn btn-secondary"-->
<!--                  (click)="changeStateOfSelectedOrder('IN_PROGRESS')">In Bearbeitung-->
<!--          </button>-->
<!--          <button [disabled]="!selectedOrder" type="button" class="btn btn-danger"-->
<!--                  (click)="deleteSelectedOrder(selectedOrder)">Abgeschlossen-->
<!--          </button>-->
<!--        </div>-->

      </li>
    </ul>
  </div>
</div>
