<div class="row bg-dark">
  <div class="col-lg">
    <p class="display-4 text-white text-center">
      Neue Bestellung aufgeben
    </p>
    <form (ngSubmit)="createNewOrder()" [formGroup]="newOrderForm" class="text-white">
      <div class="form-group"
      >
        <input type="number"
               class="form-control"
               placeholder="Bestellnummer eingeben"
               formControlName="scoreboardnumber"
               [ngClass]="{
        'is-invalid': newScoreBoardNumberForm.invalid && (newScoreBoardNumberForm.dirty || newScoreBoardNumberForm.touched),
        'is-valid': newScoreBoardNumberForm.valid && (newScoreBoardNumberForm.dirty || newScoreBoardNumberForm.touched)
   }"
        >
        <div class="form-control-feedback"
             *ngIf="newScoreBoardNumberForm.errors && (newScoreBoardNumberForm.dirty || newScoreBoardNumberForm.touched)">
          <p *ngIf="newScoreBoardNumberForm.errors.required">Bestellnummer wird benötigt</p>
          <p *ngIf="newScoreBoardNumberForm.errors.scoreBoardNumberIsUsed">Bestellnummer wird bereits verwendet</p>
          <p *ngIf="newScoreBoardNumberForm.errors.min">Bestellnummer darf nicht negativ sein</p>
        </div>
      </div>
      <div class="text-center">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">

        </div>
        <div class="btn-group d-flex mb-4 mt-2" role="group2">
          <button type="button" class="btn btn-secondary w-75 pt-2 pb-2" *ngFor="let i of [1,2,3,4,5,6,7,8,9,0]"
                  (click)="addDigitToScoreBoardNumber(i)">{{i}}
          </button>
          <button [disabled]="!newScoreBoardNumberForm.value" type="button" class="btn btn-warning w-75 pt-2 pb-2"
                  (click)="deleteLastChar()"><
          </button>
          <button type="button" class="btn btn-light w-75 pt-2 pb-2"
                  (click)="selectNextFreeNumber()">Auto
          </button>
        </div>
      </div>


      <div class="text-center">
        <div class="btn-group btn-group-lg" role="group">
          <button type="submit" [disabled]="!newOrderForm.valid"
                  class="btn btn-primary">Erstellen
          </button>
          <button [disabled]="!newScoreBoardNumberForm.value" type="button" class="btn btn-secondary"
                  (click)="resetForm()">Abbrechen
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<hr/>
<div class="row bg-dark">
  <div class="col-lg">
    <p class="display-4 text-white text-center">
      Aktive Bestellungen
    </p>
    <div class="text-center sticky-top">
      <div class="btn-group btn-group-lg" role="group">
        <button [disabled]="!selectedOrder" type="button" class="btn btn-success"
                (click)="changeStateOfSelectedOrder(orderState.READY)">Abholbereit
        </button>
        <button [disabled]="!selectedOrder" type="button" class="btn btn-secondary"
                (click)="changeStateOfSelectedOrder(orderState.IN_PROGRESS)">In Bearbeitung
        </button>
        <button [disabled]="!selectedOrder" type="button" class="btn btn-danger"
                (click)="deleteSelectedOrder(selectedOrder)">Abgeschlossen
        </button>
      </div>
    </div>

    <div class="row bg-dark mt-4">
      <div class="col">
        <app-manage-list [orders]="allInProgressOrders" [selectedOrder]="selectedOrder" (clickedItem)="toggleOrder($event)" [description]="'Bestellungen in Bearbeitung'"></app-manage-list>
      </div>
      <div class="col">
        <app-manage-list [orders]="allReadyOrders" [selectedOrder]="selectedOrder" (clickedItem)="toggleOrder($event)" [description]="'Bestellungen abholbereit'"></app-manage-list>
      </div>
    </div>
  </div>
</div>
