<div class="row bg-dark">
  <div class="col-lg">
    <p class="display-4 text-white text-center">
      Neue Bestellung aufgeben
    </p>
    <form (ngSubmit)="onSubmit()" #orderForm="ngForm">
      <div class="form-group">
        <input type="number" [(ngModel)]="newOrder.scoreBoardNumber"
               class="form-control"
               id="scoreBoardNumber"
               name="scoreBoardNumber"
               placeholder="Bestellnummer eingeben"
               required #scoreBoardNumber="ngModel">
      </div>
      <div [hidden]="orderForm.form.valid || !newOrder.scoreBoardNumber" class="alert alert-danger">Bestellnummer wird
        benötigt
      </div>
      <button type="submit" [disabled]="!orderForm.form.valid"
              class="btn btn-info">Erstellen
      </button>
    </form>
  </div>
</div>
<hr/>
<div class="row bg-dark">
  <div class="col-lg">
    <p class="display-4 text-white text-center">
      Aktive Bestellungen
    </p>
    <div class="text-center">
      <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
        <button [disabled]="!selectedOrder" type="button" class="btn btn-primary"
                (click)="changeStateOfSelectedOrder('READY')">Fertig gestellt
        </button>
        <button [disabled]="!selectedOrder" type="button" class="btn btn-secondary"
                (click)="changeStateOfSelectedOrder('IN_PROGRESS')">In Bearbeitung
        </button>
        <button [disabled]="!selectedOrder" type="button" class="btn btn-danger"
                (click)="changeStateOfSelectedOrder('DONE')">Abgeschlossen
        </button>
      </div>
    </div>

    <ul class=" mt-4 list-group  text-center">
      <li (click)="selectOrder(order)" [ngClass]="getClassForListItem(order)" *ngFor="let order of orders" class="list-group-item">
        {{order.scoreBoardNumber }}
      </li>
    </ul>
  </div>
</div>
