<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #orderForm="ngForm">
      <div class="form-group">
        <label for="scoreBoardNumber">Name</label>
        <input type="text" [(ngModel)]="order.scoreBoardNumber"
               class="form-control"
               id="scoreBoardNumber"
               name="scoreBoardNumber"
               placeholder="Enter scoreBoardNumber"
               required #scoreBoardNumber="ngModel">
      </div>
      <div [hidden]="!scoreBoardNumber.pristine" class="alert alert-danger">scoreBoardNumber is required</div>
      <button type="submit" [disabled]="!orderForm.form.valid"
              class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
