<header>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Ordermanager</a>
    <div class="collapse navbar" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/orders" class="nav-link">List Orders</a>
        </li>
        <li class="nav-item">
          <a routerLink="/manage" class="nav-link">Manage Orders</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="text-center">
    <img src="/assets/logo.png" class="img-fluid bg-dark rounded" alt="Responsive image">
  </div>
</header>

